.container.focus {
    padding: 20px 40px;
}
.container.focus .label {
    font-weight: 600;
    color: gray;
    margin-right: 8px;
    font-size: 16px;
}

.container.focus .value {
    margin-right: 14px;
    font-size: 16px;
}

.focus ul.list-group {
    max-height: 250px;
    overflow-y: scroll;
}