.col.col1 .row{
    justify-content: flex-end;
    margin-right: 40px;
}

.col.col2 .row{
    justify-content: flex-start;
    margin-left: 40px;
}

.col .label {
    font-weight: 600;
    color: gray;
    margin-right: 8px;
    font-size: 18px;
}

.col .value {
    margin-right: 14px;
    font-size: 18px;
}